:root {
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #9796f0;
  --blue: #0000ff;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: consolas;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: grid;
  place-items: center;
  font-family: var(--font-family);
  background: linear-gradient(to right, #9796f0, #fbc7d4);
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 400px;
  height: auto;
  background-color: white;
  border-radius: 35px;
  box-shadow: var(--shadow);
  padding: 20px 30px;
  
}

.calendar-header {
  background: #9796f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--white);
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
}

.calendar-body {
  padding: 20px;
}

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  color: rgb(104, 104, 104);
}

.calendar-week-days div {
  display: grid;
  place-items: center;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  font-size: 16px; /* Increased font size from default to 16px */
  height: 40px; /* Increased height from 30px to 40px */
}

.calendar-week-days div:hover {
  color: black;
  transform: scale(1.2);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--light-text);
}

.calendar-days div {
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  border-radius: 20%;
  font-size: 16px;
}

.calendar-days div.current-date {
  color: var(--dark-text);
  background-color: var(--light-btn);
}

.calendar-days div:hover {
  background-color: #fbc7d4;
  color: var(--dark-text);
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: var(--light-hover);
  color: var(--light-text);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--light-btn);
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#year:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.month-list {
  position: relative;
  background-color: #ebebeb;
  color: var(--light-text);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.6s ease-in-out;
}

.month-list > div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.month-list > div > div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.month-list > div > div:hover {
  background-color: var(--light-btn);
  color: var(--dark-text);
  transform: scale(0.9);
}

.month-list.show {
  visibility: visible;
  pointer-events: auto;
}

.date-time-format {
  width: max-content;
  height: max-content;
  font-family: 'Dubai Light', 'Century Gothic';
  position: relative;
  display: inline;
  top: 140px;
  justify-content: center;
}

.day-text-format {
  font-family: 'Microsoft JhengHei UI';
  font-size: 1.4rem;
  padding-right: 5%;
  border-right: 3px solid #9796f0;
  position: absolute;
  left: -1rem;
}

.date-time-value {
  display: block;
  height: max-content;
  width: max-content;
  position: relative;
  left: 40%;
  top: -18px;
  text-align: center;
}

.time-format {
  font-size: 1.5rem;
}

.time-format.hideTime,
.day-text-format.hidetime,
.date-format.hideTime {
  animation: hidetime 1.5s forwards;
}

.day-text-format.showtime,
.time-format.showtime,
.date-format.showtime {
  animation: showtime 1s forwards;
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes showtime {
  0% {
    transform: translateX(250%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hidetime {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-370%);
    opacity: 1;
  }
}
